<%- include("user_partials/header") %>
<div class="jumbotron sized-box">
  <h1>Qualifications</h1>
  <h2><%= applicant.name %>'s qualifications</h2>
  <p>Manage your qualification here! You need at least one qualification with its grades to be able to apply for our programmes</p>
  <p><a class="btn btn-primary btn-lg" href="/qualifications/new-qualification" role="button">Add New Qualification</a></p>
</div>

<%- include("user_partials/footer") %>
