<%- include("sas_admin_partials/header") %>

<form class="form-signin" method="post">
  <h1 class="main-title">New Qualification Type</h1>
  <input type="text" class="form-control top-form" name="fName" placeholder="Qualification Name">
  <!-- <input type="text" class="form-control middle-form" name="lName" placeholder="Last Name" required autofocus> -->
  <div class="form-inline">
    <input type="text" required="" class="form-control middle-form" placeholder="Maximum Score" id="date" name="date">

    <input type="text" required="" class="form-control middle-form" placeholder="Minimum Score" id="time" name="time">
  </div>

  <div class="badge-pill-container">
    <label>Grade List (Tap to remove): </label>
    <a href="/"><span class="badge badge-pill badge-secondary">LMAO</span></a>
  </div>

  <div class="form-inline bottom-form">
    <input type="text" required="" class="form-control" placeholder="Input Grade">
    <button type="button" class="btn btn-primary">Add Grade</button>
  </div>

  <textarea class="form-control bottom-form" placeholder="Result Calculation Description"></textarea>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Add New Qualification</button>
</form>

<%- include("sas_admin_partials/footer") %>
