<%- include("partials/header") %>

<form id="register-new-user" class="form-signin" action="/register" method="post">
  <h1>Register</h1>
  <hr />

  <label class="sized-box" for="username">Username</label>
  <input id="username" type="username" class="form-control" name="username">

  <label class="sized-box" for="password">Password</label>
  <input id="password" type="password" class="form-control" name="password">

  <label class="sized-box" for="confirmPassword">Re Enter Password</label>
  <input id="confirmPassword" type="password" class="form-control" name="confirmPassword">

  <label class="sized-box" for="email">Email</label>
  <input id="email" type="email" class="form-control" name="email">

  <label class="sized-box" for="name">Applicant Name</label>
  <input id="name" type="text" class="form-control" name="name">

  <label class="sized-box" for="idType">ID Type</label>
  <select class="form-control" id="idType">
    <option>MyKad</option>
    <option>Passport</option>
  </select>

  <label class="sized-box" for="idNumber">ID Number</label>
  <input id="idNumber" type="text" class="form-control">
  
  <label class="sized-box" for="mobileNo">Mobile Number</label>
  <input id="mobileNo" type="text" class="form-control">

  <label class="sized-box" for="dateOfBirth">Date of Birth</label>
  <input id="dateOfBirth" type="datetime-local" class="form-control bottom-form" value="2000-02-20T00:00:00">

  <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/script/register.js" charset="utf-8"></script>

<%- include("partials/footer") %>
