<%- include("uni_admin_partials/header") %>
  <div class="jumbotron sized-box">
    <h1>Application</h1>
    <p>TODO</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Add New Application</a></p>
  </div>

<%- include("uni_admin_partials/footer") %>
